@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.projectCard {
  @include setup_size(25vw, 100%);
  border: 1px solid $lighterBlackTransparent;
  box-shadow: $shadowDark;
  background: $lighterBlack;
  margin: 0 5px;
  position: relative;
  transition: $defaultTransition;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    background: $darkBlue;
    border: 1px solid $blue;
    img {
      filter: hue-rotate(90deg) contrast(130%) sepia(30%);
      transform: scale(1.05);
    }
  }
  &-image {
    @include setup_size(100%, 80%);
    overflow: hidden;
    position: relative;
    &::after {
      position: absolute;
      @include setup_size(100%, 100%);
      content: "";
      background: $black;
      opacity: 0.5;
      top: 0;
    }
    img {
      transition: $defaultTransition;
    }
  }
  &-info {
    @include setup_size(100%, 20%);
    background: $lighterBlack;
    padding: 15px;
    p {
      color: $lightBlue;
      font-weight: 600;
    }
    &-tags {
      display: flex;
      flex-wrap: wrap;

      & > * {
        color: $white;
        &:not(:last-child):after {
          content: " | ";
          margin-right: 4px;
        }
      }
    }
  }
}

.ongoing-container {
  position: absolute;
  @include setup_size(auto, auto);
  top: 5%;
  right: -2%;
  z-index: 20;
}

.coming-soon-container {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  @include setup_size(100%, 100%);
  @include flex_center(column);
  font-size: x-large;
  color: $lightBlue;
  z-index: 20;
  &::before {
    content: "";
    @include setup_size(80%, 5%);
    background: $darkBlue;
    transform: translateY(5vh);
    z-index: -10;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .projectCard {
    top: 3vh;
    @include setup_size(60vw, 100%);
    max-height: 80vh;
    &-image {
      @include setup_size(100%, 90%);
    }
    &-info {
      @include setup_size(100%, auto);
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .projectCard {
    top: 5vh;
    @include setup_size(60vw, 70vh);
    &-image {
      @include setup_size(100%, 85%);
    }
    &-info {
      @include setup_size(100%, auto);
      padding: 10px;
      p {
        font-size: medium;
        margin-bottom: 2px;
      }
      &-tags {
        display: flex;
        flex-wrap: wrap;
        & > * {
          font-size: 12px;
          &:not(:last-child):after {
            content: " | ";
            margin-right: 4px;
          }
        }
      }
    }
  }
}
