@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.footer {
  background-color: $lighterBlack;
  margin-top: 5vh;
  padding: 20px;
  text-align: center;
  p {
    font-size: small;
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .footer {
    text-align: right;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .footer {
    padding: 25px;
    p {
      display: none;
    }
  }
}
