@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.main-container {
  @include flex_center(row);
  @include setup_size(100%, 100%);
  overflow: hidden;
  position: relative;
  .landing-main-text {
    transform: translateY(-5vh);
    h4 {
      margin-bottom: 3vh;
      font-weight: 400;
    }
  }
  // .landing-main-image-outer-container {

  //   @include setup_size(40vw, 90vh);
  // }
  .landing-main-image-container {
    @include flex_center(row);
    transform: translateX(5vw);
    @include setup_size(40vw, 90vh);
    padding: 5% 7.5%;
  }
  .landing-main-image-outer-container {
    transition: $defaultTransition;
  }
  .landing-main-image-inner-container {
    @include setup_size(100%, 100%);
    animation: main-image 3s ease-in-out infinite;
    transition: $defaultTransition;
    img {
      transition: $defaultTransition,
        filter $transitionDuration $transitionTween;
    }
    &:hover {
      img {
        transform: scale(1.03);
        filter: contrast(105%);
      }
    }
  }
}

.landing-page-main-decorations {
  @include setup_size(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.decorations {
  &-profile {
    @include setup_decor(auto, -10%, 5%, auto, auto, 15%);
  }
  &-avatar {
    @include setup_decor(auto, 37.5%, 20%, auto, 7.5%, auto);
  }
  &-love {
    @include setup_decor(auto, 8%, 45%, auto, 5%, auto);
    transform: rotate(5deg);
  }
  &-shard {
    @include setup_decor(-5%, 5%, auto, auto, 20%, auto);
  }
  &-image {
    @include setup_decor(35%, -2%, auto, auto, auto, 20%);
  }
  &-bubble {
    @include setup_decor(10%, auto, auto, -2%, 10%, auto);
  }
}

.scroll-down-icon {
  position: absolute;
  @include setup_decor(auto, auto, 5%, 50%, auto, 6%);
  animation: down-arrow 3s cubic-bezier(0.21, 0.01, 0.39, 0.93) infinite;
}

@keyframes down-arrow {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}

@keyframes main-image {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .main-container {
    @include setup_size(100%, 90vh);
    position: relative;
    overflow-x: hidden;
    .landing-main-text {
      transform: translate(10vw, -5vh) scale(1.2);
      z-index: 20;
    }
    .landing-main-image-container {
      @include flex_center(row);
      @include setup_size(55vw, 60vh);
      transform: translate(5vw, 0);
    }
  }

  .landing-page-main-decorations {
    @include setup_size(110vw, 100%);
  }

  .decorations {
    &-profile {
      @include setup_decor(auto, -10%, 10%, auto, auto, 10%);
    }
    &-avatar {
      @include setup_decor(auto, auto, 10%, 15%, 13%, auto);
    }
    &-love {
      @include setup_decor(auto, 8%, 45%, auto, 10%, auto);
      transform: rotate(5deg);
    }
    &-shard {
      @include setup_decor(-10%, 5%, auto, auto, 40%, auto);
    }
    &-image {
      @include setup_decor(auto, auto, 10%, -10%, auto, 20%);
    }
    &-bubble {
      @include setup_decor(10%, auto, auto, -2%, 20%, auto);
    }
  }

  .scroll-down-icon {
    position: absolute;
    @include setup_decor(auto, auto, 2%, 45%, auto, 5%);
  }
}

@media screen and (max-width: $breakpoint-small) {
  .main-container {
    .landing-main-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include setup_size(100%, 105%);
      transform: translate(0, -5vh) scale(0.8);
      z-index: 20;
    }
    .landing-main-image-container {
      @include setup_size(70vw, 47vh);
      transform: translate(0, -12vh);
    }
  }

  .landing-page-main-decorations {
    @include setup_size(110vw, 100%);
  }

  .decorations {
    &-profile {
      @include setup_decor(auto, -10%, 10%, auto, auto, 10%);
    }
    &-avatar {
      @include setup_decor(45%, auto, auto, 10%, 18%, auto);
    }
    &-love {
      display: none;
    }
    &-shard {
      @include setup_decor(-10%, 5%, auto, auto, 40%, auto);
    }
    &-image {
      @include setup_decor(auto, -10%, 50%, auto, auto, 20%);
      opacity: 0.25;
    }
    &-bubble {
      @include setup_decor(15%, auto, auto, -2%, 20%, auto);
      opacity: 0.25;
    }
  }

  .scroll-down-icon {
    position: absolute;
    @include setup_decor(auto, 20%, 5%, auto, auto, 7%);
  }
}
