@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.project-preview {
  @include setup_size(100%, 90vh);
  @include flex_center(column);
  position: relative;
}

.project-preview-inner {
  @include setup_size(95vw, 85vh);
  position: absolute;
  border: 1px solid $darkGrey;
}

.project-preview-image {
  @include setup_size(95vw, 85vh);
  position: absolute;
  overflow: hidden;
  & > * {
    filter: blur(15px);
    opacity: 0.2;
  }
}

.project-preview-title {
  background: $lighterBlack;
  padding: 15px 20px 15px 5vw;
  position: absolute;
  left: -2.5vw;
  top: 5%;
  z-index: 5;
  box-shadow: $shadowDark;
}

.project-preview-content {
  @include setup_size(50%, auto);
  padding: 15px 20px 15px 5vw;
  position: absolute;
  top: 20%;
  .project-preview-buttons {
    @include setup_size(100%, auto);
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
    & > * {
      margin: 0 5px 7px 0;
    }
  }
}

.project-preview-screenshoot {
  @include setup_size(95vw, 85vh);
  position: absolute;
  pointer-events: none;
  & > * {
    position: absolute;
  }
  &-phone {
    @include setup_decor(2%, 3%, auto, auto, 20%, auto);
  }
  &-tab {
    z-index: 10;
    @include setup_decor(auto, 7%, 2%, auto, auto, 60%);
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .project-preview-content {
    @include setup_size(60%, auto);
    padding: 15px 20px 15px 5vw;
    top: 14%;
    .project-preview-buttons {
      margin-top: 2vh;
    }
  }

  .project-preview-screenshoot {
    @include setup_size(100vw, 85vh);
    overflow-x: hidden;
    &-phone {
      @include setup_decor(2%, 4%, auto, auto, auto, 60%);
    }
    &-tab {
      z-index: 10;
      @include setup_decor(auto, -4%, 2%, auto, 85%, auto);
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .project-preview-title {
    h3 {
      font-size: medium;
    }
    padding: 10px 15px 10px 5vw;
    top: 2%;
  }

  .project-preview-content {
    @include setup_size(100%, auto);
    top: 8%;
    .project-preview-buttons {
      @include setup_size(100%, auto);
      margin-top: 3vh;
      & > * {
        margin: 0 5px 3px 0;
      }
    }
  }

  .project-preview-screenshoot {
    @include setup_size(100vw, 85vh);
    position: absolute;
    pointer-events: none;
    & > * {
      position: absolute;
    }
    &-phone {
      @include setup_decor(auto, 3%, 1%, auto, auto, 48%);
    }
    &-tab {
      z-index: 10;
      @include setup_decor(auto, auto, 7%, -2%, 70%, auto);
    }
  }
}
