@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.techStack-container {
  @include setup_size(100%, auto);
  @include flex_center(column);
  margin: 15vh 0;
  position: relative;
}

.tech-stack-decoration {
  position: absolute;
  @include setup_size(100%, 100%);
  overflow: hidden;
  pointer-events: none;
}

.decorations {
  &-sphere {
    @include setup_decor(30%, auto, auto, -10%, auto, auto);
  }
  &-video {
    @include setup_decor(0, auto, auto, -10%, 30%, auto);
    opacity: 0.1;
  }
  &-laptop {
    @include setup_decor(auto, -10%, 0, auto, 35%, auto);
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .techStack-container {
    margin: 5vh 0;
  }
}
