$navbar-height: 60px;
$breakpoint-small: 480px;
$breakpoint-medium: 1025px;
$content-max-width: 1080px;

$black: rgb(11, 16, 20);
$lighterBlack: rgb(25, 26, 36);
$lighterBlackTransparent: rgba(25, 26, 36, 0.5);
$white: rgb(244, 244, 244);
$lightGrey: rgb(189, 189, 189);
$darkGrey: rgb(79, 79, 79);
$lightBlue: rgb(86, 204, 242);
$blue: rgb(45, 156, 219);
$darkBlue: rgb(15, 26, 45);
$darkBlueTransparent: rgba(15, 26, 45, 0.5);
$red: rgb(235, 87, 87);
$green: rgb(91, 233, 221);

// update mixin.scss kalo ubah di sini
$photoGradient: linear-gradient(
  340.3deg,
  rgba(27, 28, 34, 0.75) 8.97%,
  rgba(11, 16, 20, 0.75) 93.5%
);
$shadowDark: -6px 5px 8px rgba(11, 16, 20, 0.87);
$shadowLight: -5px 5px 24px rgba(176, 176, 176, 0.25);
$shadowBlue: 0px 4px 10px -5px rgba(86, 204, 242, 0.3);
$shadowLargeSubtleWhite: -5px 5px 24px 16px rgba(66, 66, 66, 0.08);

$p-size: clamp(13px, 2.2vw, 18px);
$transitionDuration: 0.25s;
$transitionTween: ease-in-out;
$defaultTransition: transform $transitionDuration $transitionTween,
  opacity $transitionDuration $transitionTween;
