@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.badge {
  background: $lighterBlackTransparent;
  transition: $defaultTransition,
    background-color $transitionDuration $transitionTween;
  padding: 7px 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  backdrop-filter: blur(20px);
  svg,
  img {
    margin-right: 7px;
    @include setup_size(30px, 30px);
    transform: scale(0.85);
  }
  // svg,
  // path {
  //   transition: $defaultTransition;
  // }
  // &-icon-white:not(:hover) {
  //   path,
  //   svg {
  //     fill: $white;
  //     // opacity: 0.5;
  //   }
  // }

  &:hover {
    background: $darkBlue;
    transform: scale(1.01) translateY(-2px);
  }
}

@media screen and (max-width: $breakpoint-small) {
  .badge {
    padding: 3px 5px;
    svg,
    img {
      margin-right: 0;
      transform: scale(0.6);
    }
    p {
      margin-right: 5px;
      text-align: center;
    }
  }
}
