@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.badge-container {
  @include flex_center(column);
  border: 1px solid $darkGrey;
  width: 80vw;
  max-width: 1200px;
  margin-top: 5vh;
  position: relative;
  padding: 20px 15px 15px 15px;
  overflow: visible;
  h4 {
    position: absolute;
    top: 0;
    transform: translateY(-20px);
    color: $lightBlue;
  }
}

.badge-container-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  & > * {
    margin: 5px;
  }
}
