@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.badge {
  background: $lighterBlack;
  padding: 5px 10px;
  width: fit-content;
  display: flex;
  svg {
    margin-right: 5px;
  }
  path,
  svg {
    fill: $white;
  }
}
