@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.badge-container {
  @include flex_center(column);
  transition: border-color $transitionDuration $transitionTween;
  border: 1px solid $darkGrey;
  width: 80vw;
  max-width: 1200px;
  margin-top: 5vh;
  position: relative;
  padding: 20px 15px 15px 15px;
  overflow: visible;
  h4 {
    position: absolute;
    top: 0;
    transform: translateY(-20px);
    color: $lightBlue;
  }
  &:hover {
    border: 1px solid $green;
  }
}

.badge-container-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  & > * {
    margin: 5px;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .badge-container {
    width: 90vw;
    padding: 15px 10px 10px 10px;
    h4 {
      transform: translateY(-17px);
    }
  }

  .badge-container-inner {
    & > * {
      margin: 3px;
    }
  }
}
