@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.button-container {
  padding: 0;
  width: fit-content;
  position: relative;
  button {
    cursor: pointer;
    font-family: inherit;
    background-color: transparent;
    position: relative;
    margin: 0;
    .button-content {
      @include flex_center(row);
      h4 {
        font-weight: 600;
        color: inherit;
        font-size: 150%;
      }
      p {
        margin: 0 2px;
        color: inherit;
      }
    }
  }
  &-large {
    &-primary button {
      padding: 10px 30px;
      border: 2px solid $blue;
      background: $blue;
      .button-content {
        color: $black;
      }
    }
    &-secondary button {
      padding: 10px 30px;
      border: 2px solid $blue;
      .button-content {
        color: $blue;
      }
    }
  }
  &-small {
    &-primary button {
      padding: 5px 10px;
      border: 1.5px solid $lightBlue;
      svg,
      path {
        fill: $lightBlue;
      }
      svg {
        transform: scale(0.8);
      }
      .button-content {
        color: $lightBlue;
      }
    }
    &-secondary button {
      border: 1.5px solid $lightGrey;
      padding: 5px 10px;
      .button-content {
        color: $lightGrey;
      }
    }
  }
}

.button-icon {
  @include flex_center(row);
  @include setup_size(28px, 24px);
  //   margin: 0 2px;
  svg {
    @include setup_size(30px, 30px);
    transform: scale(0.6);
  }
  svg,
  path {
    fill: $lightGrey;
  }
}

.loading-animation {
  transition: $defaultTransition;
  position: absolute;
  top: 27%;
  left: 42%;
  opacity: 0;
}

.button-content {
  transition: $defaultTransition;
}

.button-loading {
  .loading-animation {
    opacity: 1;
  }
  .button-content {
    opacity: 0;
  }
}

@media screen and (max-width: $breakpoint-small) {
  .button-container {
    button {
      .button-content {
        h4 {
          font-size: 120%;
        }
      }
    }
    &-large {
      &-primary button {
        padding: 8px 20px;
      }
      &-secondary button {
        padding: 8px 20px;
      }
    }
    &-small {
      &-primary button {
        padding: 2px 5px;
        border: 1.5px solid $lightBlue;
        svg,
        path {
          fill: $lightBlue;
        }
        svg {
          transform: scale(0.8);
        }
        .button-content {
          color: $lightBlue;
        }
      }
      &-secondary button {
        padding: 2px 5px;
      }
    }
  }

  .button-icon {
    transform: scale(0.9);
  }
}
