@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.double-button {
  @include setup_size(100%, auto);
  margin: 1vh 0;
  @include flex_center(row-reverse);
  & > * {
    margin: 0 5px;
  }
}
