@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.hello-world {
  @include setup_size(100%, 50vh);
  @include flex_center(row);
  margin: 20vh 0 12vh;
  &-desc {
    @include setup_size(40%, 100%);
    position: relative;
    z-index: 3;
  }
  &-image {
    @include setup_size(25%, 100%);
    z-index: 1;
    margin-left: 5vw;
    cursor: grab;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    &:active {
      cursor: grabbing;
    }
    &:hover {
      img {
        transform: scale(1.02);
        filter: contrast(105%);
      }
    }
    img {
      pointer-events: none;
      transition: $defaultTransition;
    }
  }
}

.decorations-hello-shard {
  @include setup_decor(5%, 0, auto, auto, 30%, auto);
}

@media screen and (max-width: $breakpoint-medium) {
  .hello-world {
    @include setup_size(100%, auto);
    margin: 12vh 0 5vh;
    &-desc {
      & > * {
        margin: 2vh 0;
      }
    }
    &-image {
      @include setup_size(30%, 80%);
      margin-left: 5vw;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .hello-world {
    @include setup_size(100%, auto);
    @include flex_center(column);
    margin: 12vh auto 5vh;
    &-desc {
      @include flex_center(column);
      @include setup_size(80%, 100%);
    }
    &-image {
      @include setup_size(70%, 80%);
      margin: 5vw;
    }
  }
}
