@import "./Template/variables";
@import "./Template/mixin";

.projectpreviewpage-container {
  @include setup_size(100%, 80vh);
  padding: 0 1.5vw;
  margin-top: 72px;
  display: flex;
  //   overflow-x: scroll;
  //   overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  & > * > {
    margin: 0 5px;
    min-width: 25vw;
  }
}
