@import "./Template/variables";
@import "./Template/mixin";

.projectpreviewpage-container {
  @include setup_size(100%, 100%);
  padding: 0 1.5vw;
  margin: 72px 0;
  display: flex;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-horizontal {
  overflow-x: scroll !important;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    background: transparent;
  }
}

.projectpreviewpage-decorations {
  @include setup_size(100%, 100%);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  .decorations-project {
    &-grid {
      @include setup_decor(-20%, 0, auto, auto, auto, 70%);
    }
    &-video {
      @include setup_decor(auto, auto, 10%, -10%, auto, 30%);
      opacity: 0.4;
    }
    &-laptop {
      @include setup_decor(auto, 0, 0, auto, auto, 60%);
    }
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .projectpreviewpage-decorations {
    @include setup_size(100%, 100%);
    .decorations-project {
      &-grid {
        @include setup_decor(-20%, 0, auto, auto, auto, 70%);
        opacity: 0.05;
      }
      &-video {
        @include setup_decor(auto, auto, 10%, -10%, 60%, auto);
      }
      &-laptop {
        @include setup_decor(auto, 0, 30%, auto, 70%, auto);
      }
    }
  }
}
