@import "./Template/variables";
@import "./Template/mixin";

.projectPage {
  @include setup_size(100%, 100%);
  margin-top: 15vh;
  &-content {
    @include flex_center(column);
    @include setup_size(60%, 100%);
    margin: 0 auto;
    max-width: $content-max-width;
  }
  &-title {
    margin: 6vh 0 2.5vh;
    color: $lightBlue;
  }
  p {
    line-height: 1.5;
  }
}

.projectPage-decorations {
  @include setup_size(100%, 180%);
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  .decorations-project {
    &-grid {
      @include setup_decor(-20%, 0, auto, auto, auto, 50%);
      opacity: 0.05;
    }
    &-video {
      @include setup_decor(60vh, auto, auto, -10%, auto, 20%);
      opacity: 0.1;
    }
    &-laptop {
      @include setup_decor(auto, 0, 0, auto, auto, 40%);
    }
  }
}
