@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.bottom-navigation {
  @include setup_size(100%, auto);
  @include flex_center(row);
  position: relative;
  margin: 10vh 0 5vh;
  & > * {
    margin: 0 1vw;
  }
  &-side {
    @include setup_size(100%, auto);
    position: absolute;
  }
  &-center {
    transform: translateY(2px);
    @include flex_center(row);
    z-index: 20;
    & > * {
      margin: 0 2px;
    }
  }
  &-left {
    float: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &-top {
      display: flex;
      justify-content: flex-end;
    }
  }
  &-right {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-top {
      display: flex;
      justify-content: flex-start;
    }
  }

  &-left-top,
  &-right-top {
    p {
      color: $lightBlue;
      font-weight: bold;
    }
  }
}
