@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.navbar-container {
  @include setup_size(100%, $navbar_height);
  @include flex_center(row);
  position: fixed;
  top: 0;
  padding: 10px;
  overflow: hidden;
  z-index: 99;
  &:before {
    // background: red;
    content: "";
    @include setup_size(120%, 80px);
    position: absolute;
    top: -10px;
    left: -25px;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(11, 16, 20, 0.3);
    filter: blur(15px);
  }
  backdrop-filter: blur(10px);
}

.navbar {
  @include setup_size(100%, $navbar_height);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10vw;
  position: absolute;
  & > * {
    margin-right: 3vw;
  }
  &-link {
    h5 {
      transition: $defaultTransition;
      color: $lightGrey;
    }
    &:hover h5 {
      color: $white;
    }
    &-active h5 {
      color: $blue;
      font-weight: 500;
    }
    &-active:hover h5 {
      color: $blue;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .navbar {
    @include flex_center(row);
    & > * {
      margin: 0 2vw;
    }
  }
}
