@import "../../pages/Template/variables";
@import "../../pages/Template/mixin";

.social-media-container {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 2vw;
  z-index: 99;
}

@media screen and (max-width: $breakpoint-small) {
  .social-media-container {
    margin: 0 0 2vw 2vh;
  }
}
