@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./pages/Template/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white;
  user-select: text !important;
  -moz-user-select: text !important;

  &::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $darkBlue; /* color of the tracking area */
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(28, 58, 109); /* color of the scroll thumb */
    opacity: 0.5;
    transition: $defaultTransition;
    &:hover {
      background-color: rgb(45, 84, 151);
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
}

html {
  background-color: $black;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
